{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded">
    <h2 class="text-xl font-bold mb-2">No Active Basket</h2>
    <p>There is currently no active trading basket. Create one to start trading.</p>
</div>
{% endblock %}
